<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>NSPrincipalClass</key>
	<string>ShellScript</string>
	<key>CFBundleExecutable</key>
	<string>main.command</string>
	<key>CFBundleGetInfoString</key>
	<string>@DEPLOY_BUNDLE_GET_INFO_STRING@</string>
	<key>CFBundleIconFile</key>
	<string>Phoebus.icns</string>
	<key>CFBundleIconName</key>
	<string>Phoebus</string>
	<key>CFBundleIdentifier</key>
	<string>gov.lbl.phoebus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ALS/ALS-U CS Studio Phoebus</string>
	<key>CFBundleDisplayName</key>
	<string>ALS/ALS-U CS Studio Phoebus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@DEPLOY_BUNDLE_SHORT_VERSION@</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>@DEPLOY_BUNDLE_VERSION@</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021-2022 Lawrence Berkeley National Laboratory, All Rights Reserved.</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
</dict>
</plist>
